@keyframes image1 {
  0% {
    bottom: 2%;
    right: 4%;
  }
  50% {
    bottom: 10%;
    right: 3%;
  }
  100% {
    bottom: 25%;
    right: 10%;
  }
}

@keyframes image2 {
  from {
    top: -41%;
    left: -3%;
  }
  to {
    top: -43%;
    left: 1%;
  }
}

@keyframes image3 {
  0% {
    top: 4%;
    right: 25%;
  }
  50% {
    top: 8%;
    right: 32%;
  }
  100% {
    top: 15%;
    right: 40%;
  }
}

@keyframes image4 {
  0% {
    bottom: 10%;
    left: 20%;
  }
  50% {
    bottom: 20%;
    left: 28%;
  }
  100% {
    bottom: 35%;
    left: 37%;
  }
}

@keyframes my-info {
  from{
    transform: scale(0)
  }
  to {
    transform: scale(1);
  }
}

@keyframes image-container {
  from {
    @include width-height(0%, 100vh);
  }
  to {
    @include width-height(30%, 100vh);
  }
}

@keyframes backdrop {
  0% {
    @include width-height(0%, 75vh);
    visibility: hidden;
  }
  50% {
    @include width-height(25%, 75vh);
    visibility: visible;
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes profile-image {
  from {
    @include width-height(25%, 75vh);
    visibility: hidden;
    right: 10%;
  }
  to {
    @include width-height(25%, 75vh);
    visibility: visible;
    right:13%;
  }
}

@keyframes dot-image {
  from {
    @include width-height(30%, 66vh);
    visibility: hidden;
    top: 25%;
    right: 11%;
  }
  to {
    @include width-height(30%, 66vh);
    visibility: visible;
    top: 29%;
    right: 14%;
  }
}

@keyframes intro {
  0% {
    content: 'Hi';
  }
  10% {
    content: 'Hi!';
  }
  50% {
    content: "I'm Ahamed Mansoor";
  }
  100% {
    content: "I'm An UI Developer";
  }
}

@keyframes hide {
  from {
    display: none;
  }
  to {
    display: block;
  }

}

@keyframes arrow {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes pointScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes aboutImg {
from{
  transform: translateX(100px);
  opacity: 0.1;
}to{
  transform: translateX(0px);
 opacity: 1;
 }
}

@mixin max-width-900() {
  @media only screen and (max-width: 900px) {
    @content
  }
}
