<div class="menu">
  <a (click)="closeMenu('/home')" [routerLink]="['/home']"><img src="./assets/images/Home.svg" alt="Home" title="Home"></a>
  <a (click)="closeMenu('/skill')" [routerLink]="['/skill']"><img src="./assets/images/Skill.svg" alt="Skill"
                                                                  title="Skills"></a>
  <a (click)="closeMenu('/experience')"><img src="./assets/images/Experience.svg" alt="exp" title="Experience"></a>
  <a (click)="closeMenu('/project')"><img src="./assets/images/Project.svg" alt="project" title="project"></a>
  <a (click)="closeMenu('/about')" [routerLink]="['/about']"><img src="./assets/images/About.svg" alt="About"
                                                                  title="About"></a>
</div>
