<div id="home-container" class="home-container">
  <div class="float-images">
    <!--    <img class="img2" src="./assets/images/particle-large-teal.svg" alt="-large-grey-teal">-->
    <img class="img3" src="./assets/images/particle-small-blue.svg" alt="small-blue">
    <img class="img4" src="./assets/images/particle-small-blue.svg" alt="small-blue">
  </div>
  <div id="content" class="content">
    <div class="content-div">
      <app-menu-icon></app-menu-icon>
    </div>
    <div class="main-nav">
      <app-menu></app-menu>
    </div>
    <div class="content-info">
            <p class="content-0">Hey, I Am</p>
      <p class="content-1">Ahamed A Mansoor</p>
      <p class="content-2">Software Engineer</p>
<!--      <p class="content-3" (click)="scrollToSkill()">Click Here <span id="content-3-arrow">→</span></p>-->
    </div>
  </div>
  <span class="button">Download Cv</span>
</div>

<div class="nav">
  <img class="img1" src="./assets/images/particle-large-grey.svg" alt="-large-grey-bar">
</div>
<div class="backdrop">
</div>
<div class="image">
</div>
<div class="image-dot">
</div>

